.App {
  height: 100%;
  background: #eee;
  display: flex;
  flex-direction: column;
}

.App.not-connected {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 24px;
}

.App.not-connected h2,
.App.not-connected h3 {
  font-weight: normal;
}

main {
  overflow: auto;
}
